<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laptop</title>
</head>
<body>
<h1>Xush kelibsiz kategoriyalardan birini tanlang</h1>
    <div class="categories">
        <ul>

            <li>
                <a href="#">
                    Phone
                </a>
            </li>

            <li>
                <a href="{% url 'laptop-info' %}">
                    Laptop
                </a>
            </li>

            <li>
                <a href="#">
                    Car
                </a>
            </li>

            <li>
                <a href="#">
                    Books
                </a>
            </li>
        </ul>
    </div>
</body>
</html>